# temp files
.DS_Store
.tmp

.vscode/

# npm & bower
node_modules
bower_components

# cordova
#/platforms/
#/plugins/
#/res/*/current/
platforms/android/assets/www/
platforms/android/.gradle
platforms/android/assets
platforms/
plugins/

# build folder
/www/
.publish/
/elements
/behavior
/images
/styles
